body{
    background-color: black;
}
.myclass{
    /* place-self: center; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: 350px; */
    width: 350px;
    padding: 35px;
    background-color: rgb(19, 8, 136);
    border-radius: 15px;
}
.output{
    height: 40px;
    padding: 0 8px;
    margin-bottom: 15px;
    font: 1.4em;
    text-align: right;
    line-height: 40px;
    font-family: monospace;
    font-weight: 700;
    background-color: #fff;
    border-radius: 10px;
}
.button{
    height: 50px;
    width: 50px;
    padding: 7px;
    margin: 10px;
    text-align: center;
    font: 1.5em;
    cursor: pointer;
    vertical-align: middle;
    line-height: 50px;
    background-color: black;
    font-weight: 700;
    display: inline-block;
    border-radius: 10px;
    color: aqua;
}
.row{
    width: 100%;
    display: block;
}